<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MVP</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li><a href="/about">About</a></li>
         <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" role="search">
        <a href="/login" class="btn btn-default">Sign in</a> 
        <a href="/register" class="btn btn-primary">Sign up</a>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>