html, body {
    height:100%;
}

h1 {
	font-family: "Open sans", Helvetica, Arial;
	font-weight: 300;
	font-size: 36px;
}

.page-body{
	padding-top: 64px;
	position: relative;
    min-height:100%;
}

.footer1 {
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

.footer2 {
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

.footer1 .widget-title {
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}

.footer2 a:hover {
    color: #fff;
}
.footer2 a {
    color: #aaa;
}

.footer1 a {
    color: #ccc;
}