<div class="panel panel-default">
	<div class="panel-heading"><h7>Personal settings</h7></div>
	<ul class="nav nav-pills nav-stacked list-group">
	  <li role="presentation" class="active"><a href="/my-account/profile">Profile</a></li>
	  <li role="presentation"><a href="/my-account/settings">Account settings</a></li>
	  <li role="presentation"><a href="/my-account/emails">Email preferences</a></li>
	</ul>
</div>