<% include ../header.ejs %>


<div class="container">
	<div class="row">
	<br>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Personal settings</strong></div>
					<ul class="nav nav-pills nav-stacked list-group">
					  <li role="presentation" class="active"><a href="/my-account/profile">Profile</a></li>
					  <li role="presentation"><a href="/my-account/settings">Account settings</a></li>
					  <li role="presentation"><a href="/my-account/emails">Email preferences</a></li>
					</ul>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Profile</strong></div>

			</div>
		</div>
	</div>
</div>
    
<% include ../footer.ejs %>