<% include ../header.ejs %>


<div class="container">
	<div class="row">
	<br>
		<div class="col-md-2">
			<% 
			var menu = "settings";
			%>
			
			<% include menu.ejs %>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Account Settings</h3></div>

			</div>
		</div>
	</div>
</div>
    
<% include ../footer.ejs %>